/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
	margin: 0;
	font-family: 'Oswald', sans-serif;
/*    font-family: 'Open Sans', sans-serif, "Helvetica", "Arial";
*/   background: rgb(224, 219, 215);
	/*background: rgb(244,242,240);*/
}

a{
	text-decoration: none;	
	color:inherit;
}

li {
	list-style: none
}

.Page-Header{
	background-color: rgb(64, 64, 64);
	padding: 30px;
	position: relative;
	padding-bottom:25px;
	z-index: 1;
	height: 175px;
	box-shadow: 0px 5px 5px rgb(64, 64, 64);
}

.Page-Title{	
	float: left;
}

.Header-Main-Title{
	color: rgb(244,242,240);
	font-size: 2.25em;
}

.Header-Sub-Title{
	color: rgb(119, 211, 239);
	font-size: 2em;
}

.Navigation-Links{
		display: block;
		float: right;
		padding-top: 70px;
		padding-right: 20px;
}

.activeL{
	transition: color 0.5s ease;
}

.activeL:hover{
	color: rgb(119, 211, 239);
}

.divide{
    width: 100%;
    height: 2px;
    background-color: rgb(244,242,240);
    margin-top:3px;
}

a.Nav-Link {
	margin:0 7px;
	font-weight: bold;
	color: rgb(244,242,240);
	font-size: 1.2em;
}

.Greeting {
	width: 100%;
	text-align: center;
	background-color: white;
	border: 1px solid black;
}

.Content{
	background: rgb(244,242,240);
	border-left: black 1px solid;
	border-right: black 1px solid;
	border-bottom: black 1px solid;
	padding: 20px;
	margin:auto;
	max-width: 900px;
}

.about{
	position: relative;
}

.about h3 {
	background-color: rgb(186, 236, 255);
		/*background-color: rgb(195, 215, 247);*/
	padding: 5px;
	padding-left:10px;
	border: solid rgb(7,36,78) 2px;

}

.me{
	float:left;
	width:45%;
}

.me h2{
	text-align: center;
}

.you{
	float:right;
	width:45%;
	margin-right: 35px;
}

.you h2{
	text-align: center;
}






.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}