/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
	margin: 0;
	font-family: 'Oswald', sans-serif;
/*    font-family: 'Open Sans', sans-serif, "Helvetica", "Arial";
*/    background: rgb(244,242,240);
}

a{
	text-decoration: none;	
	color:inherit;
}

.Page-Header{
	background-color: rgb(64,64,64);
	padding: 30px;
	position: relative;
	padding-bottom:25px;
	z-index: 1;
	height: 175px;
}

.Page-Title{	
	float: left;
}

.Header-Main-Title{
	color: rgb(244,242,240);
	font-size: 2.25em;
}

.Header-Sub-Title{
	color: rgb(119, 211, 239);
	font-size: 2em;
}

.Navigation-Links{
		display: block;
		float: right;
		padding-top: 10px;
}

.activeL{
	transition: color 0.5s ease;
}

.activeL:hover{
	color: rgb(108,191,142);
}

.divide{
    width: 100%;
    height: 2px;
    background-color: rgb(244,242,240);
    margin-top:3px;
}



.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}